body{
    font-family:'Calibri';
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    font-size: 30px;
}
header{
    width: 1200px;
    height:150px;
    background-color: rgb(184, 247, 121);
    text-transform:uppercase;
    color:rgb(255, 138, 28);
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
}
nav{
    float: left;
    width: 400px;
    height: 600px;
    background-color: rgb(231, 231, 231);
}
main{
    float: left;
    width: 400px;
    height: 600px;   
}
img{
    cursor: pointer;
    width: 400px;
    height: 600px;
}
aside{
    float: left;
    width: 400px;
    height: 600px;
    background-color: rgb(231, 231, 231);
}
footer{
    clear:both;
    height: 75px;
    background-color: rgb(115, 238, 121);
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
}
table{
    cursor: crosshair;
    border-collapse: collapse;
    margin-top: 150px;
    margin-left: 27px;
    margin-right: 27px;
}
#te{
    background-color: palegreen;
    width: 170px;
    color: rgb(0, 163, 0);
}
#ta{
    color: white;
    background-color: rgb(0, 163, 0);
    width: 170px; 
}
td{
    border: white solid 2px;
    padding-left: 8px;

}
#osobno{
    cursor: help;
    margin-top: 150px;
    margin-right: 27px;
    margin-left: 25px;
    width: 315px;
    height: 185px;
    border: solid rgb(131, 83, 20) 2px;
    background-color: rgb(248, 246, 225);
    color: rgb(131, 83, 20);
}