#p1, #p2, #znak-container
{
	margin: auto;
}

#p1, #p2
{
	max-width: 300px;
	font-size: 30px;
	background-color: #86d1fb;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 5%;
	text-align: center;
}
#p3
{
	max-width: 300px;
	font-size: 30px;
	background-color: #2c3f29;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 7.5%;
	border: double #2c3f29 25px;
}

#p1
{
	border: dashed #16445b 5px;
}

#p2
{
	border: dotted #16445b 5px;
}

#znak-container
{
	width: 300px;
	height: 300px;
}

#znak
{
	display: flex;
	border-radius: 100%;
	width: 100%;
	height: 100%;
	background-color: red;
	justify-content: center;
	align-items: center;
}

#znak-biale
{
	width: 250px;
	height: 60px;
	background-color: white;
}
#p33
{
	font-size: 150%;
}